:root {
    --banner: #B8BEDD;
    --banner-light: #dce1fe;
    --banner-dark: #a6afda;
    --footer: black;
    --footer-background: #B8BEDD;
    --page: #fff8fe;
    --page-link: #f265a9;
    --contact-button: #f265a9;
    --card-background: #EFC3E6;
    --profile-border: black;
}

.app {
    background-image: linear-gradient(90deg, var(--banner-dark), var(--banner-light), var(--banner-dark));
    height: 100vh;
}

.my-name {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    text-align: center;
}

.navbar {
    display: flex;
}

.navbar-nav {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar-item {
    display: inline-block; 
}

.page {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--page);
    min-height: 70vh;
}

.page a {
    color: var(--page-link);
}



footer { 
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(90deg, var(--banner-dark), var(--banner-light), var(--banner-dark));
}

footer a {
    color: var(--footer);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.btn-custom {
    border-radius: 5px;
    border: 10px solid var(--contact-button);
    background-color: var(--contact-button);
}

.card {
    width: 50vh;
    margin-top: 5px;
    margin-bottom: 10px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile {
    display: block;
    width: 20%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--profile-border);
}